<section class="layout-wrap">
    <div class="layout-title">
        <span><%= page.title %></span>
    </div>
    <div class="layout-wrap-inner tag-cloud" style='background: #fff'>
		 <canvas width="800" height="600" id="myCanvas">
		 <ul>
		 <% site.tags.sort('name').each(function(item){ %>
		 	<li><a href="<%- config.root %><%- item.path %>" target="_blank"><%= item.name %> (<%= item.posts.length %>) </a></li>
		 <% }); %>
		 </ul>
		 </canvas>
    </div>
</section>
<script src="/js/jquery.tagcanvas.js" type="text/javascript"></script>
<script type="text/javascript">
 $(document).ready(function() {
   if( ! $('#myCanvas').tagcanvas({
     textColour : '#999',
     outlineThickness : 1,
	 outlineColour: '#000',
     maxSpeed : 0.03,
     depth : 0.75
   })) {
     // TagCanvas failed to load
     $('#myCanvasContainer').hide();
   }
   // your other jQuery stuff here...
 });
 </script>
